 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 686px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 627px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-family: Raleway, sans-serif;
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  letter-spacing: 1px;
  margin: 26px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 26px auto 0 0;
  padding: 14px 42px 15px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 627px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-shape-1 {
  height: 525px;
  width: 593px;
  margin: 26px auto 0 -23px;
}

.u-section-1 .u-image-1 {
  height: 408px;
  object-position: 0% 65.31%;
  width: 407px;
  margin: -466px auto 0 70px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 517px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 499px;
  }

  .u-section-1 .u-shape-1 {
    height: 428px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    height: 407px;
    margin-top: -416px;
    margin-left: 63px;
    margin-bottom: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 537px;
  }

  .u-section-1 .u-shape-1 {
    height: 333px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 360px;
    width: 360px;
    margin-top: -321px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 378px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 60px;
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-shape-1 {
    height: 418px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 434px;
    width: 480px;
    margin-top: -452px;
    margin-right: 20px;
    margin-bottom: -16px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 949px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-1 .u-shape-1 {
    height: 287px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    height: 308px;
    margin-top: -312px;
    margin-bottom: -21px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 850px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 790px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 20px 32px 0;
}

.u-section-2 .u-shape-1 {
  width: 494px;
  height: 476px;
  background-image: none;
  margin: 10px auto 0 21px;
}

.u-section-2 .u-image-1 {
  width: 389px;
  height: 389px;
  margin: -460px auto 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 756px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-list-1 {
  margin: 0 auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 533px;
  margin-left: auto;
  margin-right: auto;
  grid-gap: 20px;
}

.u-section-2 .u-list-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 22px;
}

.u-section-2 .u-list-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 22px;
}

.u-section-2 .u-list-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 22px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 651px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-shape-1 {
    width: 470px;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 388px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 623px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-weight: 300;
  }

  .u-section-2 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-shape-1 {
    width: 360px;
  }

  .u-section-2 .u-image-1 {
    width: 360px;
    height: 359px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 629px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-shape-1 {
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 339px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 50vw;
}

.u-section-3 .u-group-1 {
  width: 507px;
  min-height: 273px;
  margin: 65px 0 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-style: normal;
  margin: 20px 0 0;
}

.u-section-3 .u-shape-1 {
  width: 634px;
  height: 634px;
  background-image: none;
  margin: -175px auto 0 0;
}

.u-section-3 .u-shape-2 {
  width: 168px;
  height: 168px;
  margin: -439px 430px 0 auto;
}

.u-section-3 .u-image-1 {
  width: 389px;
  height: 548px;
  margin: -278px auto 60px 133px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 450px;
    margin-top: 93px;
  }

  .u-section-3 .u-shape-1 {
    width: 516px;
    height: 435px;
    margin-top: 138px;
    margin-right: 179px;
    margin-left: auto;
  }

  .u-section-3 .u-shape-2 {
    width: 142px;
    height: 142px;
    margin-top: -134px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-top: -334px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    min-height: 206px;
    margin-top: -26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 488px;
    height: 413px;
    margin-top: 324px;
    margin-right: auto;
    margin-left: 102px;
  }

  .u-section-3 .u-shape-2 {
    width: 122px;
    height: 122px;
    margin-top: -37px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -278px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    margin-top: -127px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-3 .u-shape-1 {
    width: 382px;
    height: 382px;
    margin-top: 425px;
    margin-left: 69px;
  }

  .u-section-3 .u-shape-2 {
    margin-top: -23px;
    margin-right: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    margin-top: -188px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-shape-1 {
    width: 255px;
    height: 246px;
    margin-top: 444px;
    margin-left: 32px;
  }

  .u-section-3 .u-shape-2 {
    width: 98px;
    height: 98px;
    margin-top: 42px;
    margin-right: 172px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 479px;
    margin-left: 0;
  }
} .u-section-4 {
  background-image: none;
  min-height: 873px;
}

.u-section-4 .u-shape-1 {
  width: 115px;
  height: 115px;
  margin: 83px calc(((100% - 1140px) / 2) + 123px) 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: -139px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2) + 633px);
}

.u-section-4 .u-shape-2 {
  width: 689px;
  height: 657px;
  background-image: none;
  margin: 41px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-gallery-1 {
  height: 409px;
  width: 503px;
  margin: -563px auto 60px calc(((100% - 1140px) / 2) + 101px);
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: -35px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-back-slide-3 {
  background-image: none;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: -81px;
  width: 40px;
  height: 40px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  right: -78px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 940px) / 2) + 123px);
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 433px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    margin-left: calc(((100% - 940px) / 2) + 101px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 720px) / 2) + 123px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 213px);
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    margin-left: calc(((100% - 720px) / 2) + 101px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 540px) / 2) + 123px);
  }

  .u-section-4 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 33px);
  }

  .u-section-4 .u-shape-2 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    margin-left: calc(((100% - 540px) / 2) + 37px);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    margin-right: calc(((100% - 340px) / 2) + 123px);
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-shape-2 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-gallery-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1486px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 518px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0 15px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 34px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-weight: 800;
  font-size: 3rem;
  margin: 170px 16px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 518px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-shape-1 {
  width: 450px;
  height: 411px;
  background-image: none;
  margin: 70px auto 0 43px;
}

.u-section-5 .u-image-1 {
  width: 359px;
  height: 359px;
  margin: -385px auto 0 89px;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 448px;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-shape-2 {
  width: 456px;
  height: 408px;
  background-image: none;
  margin: 7px auto 0;
}

.u-section-5 .u-image-2 {
  width: 450px;
  height: 335px;
  margin: -358px auto 0 43px;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 448px;
}

.u-section-5 .u-container-layout-4 {
  padding: 21px 29px;
}

.u-section-5 .u-text-3 {
  line-height: 1.8;
  font-weight: 800;
  font-size: 3rem;
  margin: 160px 0 0;
}

.u-section-5 .u-shape-3 {
  width: 115px;
  height: 115px;
  margin: 7px 1px 0 auto;
}

.u-section-5 .u-shape-4 {
  width: 456px;
  height: 408px;
  background-image: none;
  margin: 34px 0 0 auto;
}

.u-section-5 .u-image-3 {
  width: 423px;
  height: 281px;
  margin: -345px 17px 0 auto;
}

.u-section-5 .u-text-4 {
  line-height: 1.8;
  font-weight: 800;
  font-size: 3rem;
  margin: -241px 741px 0 64px;
}

.u-section-5 .u-shape-5 {
  width: 115px;
  height: 115px;
  margin: 24px auto 60px 57px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1317px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 427px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 464px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-5 .u-shape-1 {
    height: 377px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-1 {
    width: 384px;
    height: 375px;
    margin-top: -376px;
    margin-right: 0;
    margin-bottom: 1px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 480px;
  }

  .u-section-5 .u-shape-2 {
    height: 362px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    margin-top: -352px;
    margin-left: 20px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 369px;
  }

  .u-section-5 .u-shape-4 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    height: 282px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 605px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1131px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-5 .u-shape-1 {
    height: 303px;
    margin-top: 107px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 359px;
    height: 293px;
    margin-top: -302px;
    margin-bottom: 0;
    margin-left: 1px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 475px;
  }

  .u-section-5 .u-shape-2 {
    height: 268px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 268px;
    margin-top: -258px;
    margin-left: 0;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 216px;
  }

  .u-section-5 .u-shape-3 {
    width: 109px;
    height: 109px;
    margin-top: 13px;
    margin-left: 191px;
  }

  .u-section-5 .u-text-4 {
    margin-right: 385px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1637px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 600px;
  }

  .u-section-5 .u-shape-1 {
    height: 445px;
    margin-top: 108px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    width: 500px;
    height: 419px;
    margin-top: -483px;
    margin-right: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 462px;
  }

  .u-section-5 .u-shape-2 {
    height: 344px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    width: 491px;
    height: 386px;
    margin-top: -340px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-shape-3 {
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    margin-right: 205px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1243px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 396px;
  }

  .u-section-5 .u-shape-1 {
    height: 271px;
    margin-top: 70px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    height: 268px;
    margin-top: -293px;
    margin-bottom: 3px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 308px;
  }

  .u-section-5 .u-shape-2 {
    height: 250px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    width: 310px;
    height: 244px;
    margin-top: -244px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 227px;
    margin-right: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: -186px;
    margin-right: 5px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 514px;
}

.u-section-6 .u-slider-1 {
  min-height: 431px;
  width: 893px;
  margin: 42px auto;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 52px auto 0;
}

.u-section-6 .u-text-1 {
  font-size: 1.125rem;
  margin: 20px 0 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px 80px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 62px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  margin: 0 -80px;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  width: 232px;
  margin: 35px auto 0;
}

.u-section-6 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-6 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-slider-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-slider-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 565px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 821px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 52px;
  margin-bottom: 60px;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 647px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-7 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-size: 3rem;
  margin: 199px auto 0 0;
}

.u-section-7 .u-social-icons-1 {
  height: 144px;
  min-height: 16px;
  width: 451px;
  min-width: 68px;
  margin: 44px auto 0;
}

.u-section-7 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
  height: 100%;
}

.u-section-7 .u-icon-2 {
  color: rgb(85, 172, 238) !important;
  height: 100%;
}

.u-section-7 .u-icon-3 {
  color: rgb(197, 54, 164) !important;
  height: 100%;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 647px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px 20px 30px 10px;
}

.u-section-7 .u-shape-1 {
  width: 488px;
  height: 482px;
  background-image: none;
  margin: 38px 9px 0 auto;
}

.u-section-7 .u-image-1 {
  width: 378px;
  height: 380px;
  margin: -416px auto 0 86px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 707px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 533px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 533px;
  }

  .u-section-7 .u-shape-1 {
    width: 440px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin-left: 62px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 599px;
  }

  .u-section-7 .u-shape-1 {
    width: 310px;
    height: 337px;
  }

  .u-section-7 .u-image-1 {
    height: 299px;
    width: 320px;
    margin-top: -299px;
    margin-left: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 886px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 547px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-7 .u-shape-1 {
    width: 473px;
    height: 451px;
    margin-right: 14px;
  }

  .u-section-7 .u-image-1 {
    width: 506px;
    height: 462px;
    margin: -462px 0 -11px auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 344px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-7 .u-shape-1 {
    width: 306px;
    height: 281px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-7 .u-image-1 {
    width: 313px;
    height: 281px;
    margin-top: -281px;
    margin-right: auto;
    margin-bottom: 0;
  }
}